* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(5, 5, 53);
    color: white;
    font-family: 'Poppins', sans-serif;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(11, 11, 124);
    height: 80px;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover,
.nav-menu a.active {
    color: rgb(170, 111, 224);
    font-size: 1.02rem;
}

.nav-logo {
    font-size: 1.8rem;
    cursor: pointer;
}

.nav-logo {
    text-decoration: none;
    color: white;
}

.nav-logo:hover {
    color: rgb(170, 111, 224);
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5rem 0;
}

.firstSection>div {
    width: 35%;

}

.leftSection {
    font-size: 3rem;
}

.leftSection .buttons {
    padding: 30px 0;
}

.leftSection .btn {
    padding: 12px;
    background-color: blueviolet;
    border: 2px solid white;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.leftSection .btn a {
    text-decoration: none;
    color: white;
}

.rightSection img {
    width: 100%;
}

.rightSection img {
    border-radius: 50%;
    border: 2px solid blueviolet;

}

.purple {
    color: rgb(149, 72, 221);
}

#element {
    color: rgb(149, 72, 221);
    font-size: 2.4rem;

}

#about {
    margin-bottom: 8rem;
}

.about-item {
    margin: 16rem 0 2rem 0;
}


.title-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-firstSection>div {
    width: 40%;

}

.about-leftSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0;
}

.about-rightSection {
    font-size: 1.5rem;
}

.about-leftSection .about-img {
    width: 80%;
    border-radius: 10px;
}

.section-title {
    font-size: 2rem;
}

.section-subtitle {
    font-size: 1.2rem;
    font-weight: 500;
}

.skills-section {
    text-align: center;
    margin: 15rem 0;
}

.skills-content {

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    margin-top: 1rem;
    padding: 2rem 30rem;
    gap: 25px 0;
}

.skills-name:hover {
    background-color: white;
    color: blueviolet;
    font-weight: 500;

}

.skills-name {
    padding: 10px;
    margin: 8px;
    background-color: blueviolet;
    border-radius: 6px;
    font-size: 16px;

}

.portfolio-section {
    text-align: center;
    margin: 7rem 0;
}

.project-firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.project-firstSection>div {
    width: 40%;

}

.project-leftSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0;
}

.project-rightSection {
    font-size: 1.5rem;
    line-height: 1.5;
}

.project-leftSection img {
    width: 70%;
    height: 100%;
    border-radius: 10px;
}

.button .btn {
    padding: 12px;
    background-color: rgb(15, 15, 182);
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.button .btn:hover {
    background-color: blue;
}

.button .btn a {
    text-decoration: none;
    color: white;
}

/* services  */
.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.services-heading {
    margin-top: 2rem;
    font-size: 1.5rem;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 3rem 10rem;
    font-size: 1.2rem;
}

.services-content {
    background-color: rgb(170, 111, 224);
    margin: 2rem;
    padding: 1rem 0;
    border-radius: 10px;
}

.services-box-content ul li {
    padding: 2rem 1.5rem;
    list-style: none;
    display: inline-flex;
}

.services-heading {
    text-align: center;
    color: rgb(11, 11, 124);
}

.services-box-list i {
    padding: 0.2rem 0.5rem 0 0;
}

.cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-section {
    margin: 15rem 0;
}

.contact-content {
    margin: 2rem 0 4rem 0;
    padding-left: 35rem;

}

.contact-content div h3 {
    padding: 25px 0 4px 0;
}

.contact-content div p {

    cursor: pointer;
}

.media {
    padding-right: 0.5rem;
}

.contact-content a {
    text-decoration: none;
    color: white;
}

footer {
    background-color: rgb(11, 11, 124);
    width: 100%;
    height: 400px;
}

.footer {
    display: flex;
    padding: 80px 100px;
    justify-content: space-evenly;
    align-items: center;
}

.social-media {
    font-size: 2rem;
    cursor: pointer;
}

.social-media span {
    padding: 20px;
}

.social-media span i:hover {
    color: rgb(170, 111, 224);
}

.social-media span a {
    text-decoration: none;
    color: white;
}

.footer-third ul {
    list-style: none;
    cursor: pointer;
}

.footer-third ul li a {
    text-decoration: none;
    color: white;
}

.footer-third ul li a:hover {
    color: rgb(170, 111, 224);
}

.footer {
    padding-bottom: 7rem;
}

.footer-rights {
    font-size: 1.5rem;
    text-align: center;
}


@media screen and (max-width: 1200px) {
    body {
        width: 150vw;
    }

    footer {
        height: 800px;
    }

    .footer {
        font-size: 1.5rem;
        padding-top: 10rem;
    }

    .footer-third {
        line-height: 3;
    }

    .footer-rights {
        margin-top: 2rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 550px) {
    body {
        width: 220vw;
    }

    .nav-logo {
        font-size: 2rem;
    }

    .nav-menu {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 600px) {

    .firstSection {
        flex-direction: column-reverse;
        text-align: center;
    }

    .leftSection .btn {
        margin: 0.5rem 0;
    }

    .leftSection>div {
        margin: 2rem 0;
        transform: scale(1.6);
    }

    .rightSection img {
        transform: scale(1.5);
        margin: 6rem 0 8rem 0;
    }
}

@media screen and (max-width: 550px) {
    .leftSection>div {
        margin: 2rem 0;
        transform: scale(1.8);
    }

    .rightSection img {
        transform: scale(1.5);
        margin: 6rem 0 8rem 0;
    }
}

@media screen and (max-width: 920px) {

    .leftSection div,
    .leftSection span {
        font-size: 2rem;
    }
}

@media screen and (max-width: 700px) {

    .leftSection div,
    .leftSection span {
        font-size: 1.4rem;
    }

    #element {
        font-size: 2rem;
    }

    .footer-rights {

        font-size: 1.2rem;
    }

}

@media screen and (max-width: 600px) {
    nav {
        flex-direction: column;
    }

}

@media screen and (max-width: 450px) {
    .nav-menu {
        font-size: 1.3rem;
    }

    .nav-logo {
        font-size: 2rem;
    }

    .leftSection .btn1 {
        margin-top: 3rem;

    }

    .leftSection>div {
        white-space: nowrap;
    }
}


@media screen and (max-width: 800px) {
    .about-firstSection {
        flex-direction: column-reverse;
        align-items: center;
    }

    .about-description {

        transform: scale(1.3);
        margin: 8rem 2rem 15rem 0;
    }

    .about-rightSection p {
        font-size: 1.5rem;
    }

    .about-leftSection img {
        transform: scale(2);
    }

}

@media screen and (max-width: 1600px) {
    .about-description {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1900px) {
    .skills-content {
        padding: 0 4rem;
    }
}

@media screen and (max-width: 1600px) {
    .skills-content {
        padding: 0 6rem;
    }
}

@media screen and (max-width: 1000px) {
    .skills-content {
        grid-template-columns: repeat(3, 1fr);
        padding: 0 5rem;
    }
}

@media screen and (max-width: 850px) {
    .skills-content {
        align-items: center;
        justify-content: center;
        padding: 0 4rem;
    }
}

@media screen and (max-width: 650px) {
    .skills-content {
        align-items: center;
        padding: 0 4rem;
    }
}

@media screen and (max-width: 720px) {
    .project-rightSection h2 {
        font-size: 1.6rem;
    }

    .project-rightSection p {
        font-size: 1.2rem;
    }


    .project-rightSection .btn {
        font-size: 1rem;
    }
}

@media screen and (max-width: 600px) {

    .about-description {
        width: 600px;
        position: relative;
        right: 110px;
        transform: scale(1.2);
        margin: 4rem 2rem 8rem 0;
    }

    .about-rightSection p {
        font-size: 1.3rem;
    }

    .about-leftSection img {
        transform: scale(2);
    }

    .project-firstSection {
        flex-direction: column;
    }

    .project-rightSection h2 {
        font-size: 2.2rem;
    }

    .project-rightSection p {
        font-size: 1.6rem;
    }

    .project-rightSection .btn {
        font-size: 2.5rem;
        margin: 1rem 0 6rem 0;
    }

    .project-leftSection img {
        transform: scale(2);
        margin: 7rem 0;
        width: 100%;
    }

    .contact-content>div {
        font-size: 1.5rem;
    }

}

@media screen and (max-width: 1000px) {
    .contact-content>div {
        position: relative;
        right: 30%;
    }
}

@media screen and (max-width: 750px) {
    .contact-content>div {
        position: relative;
        right: 50%;
    }
}

@media screen and (max-width: 550px) {
    .contact-content>div {
        position: relative;
        right: 40%;
    }

    .contact-section {
        margin: 15rem 0 25rem 0;
    }

    .about-description {
        width: 600px;
        position: relative;
        right: 120px;
        transform: scale(1.2);
        margin: 4rem 2rem 8rem 0;
    }

    .about-rightSection p {
        font-size: 1.5rem;
    }

    .about-leftSection img {
        transform: scale(2);
    }
}

@media screen and (max-width: 450px) {
    .contact-content>div {
        position: relative;
        right: 100%;
        margin: 3rem 0;
    }

    .contact-section {
        margin: 10rem 0 25rem 0;
    }

    footer {
        height: 800px;
    }

    .footer {
        font-size: 1.3rem;
        padding-top: 10rem;
    }

    .footer-third {
        line-height: 3;
    }

    .footer-rights {
        margin-top: 2rem;
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 2400px) and (max-width: 4000px) {
    .services-box-content {
        height: 40vw;
        padding: 4rem 4rem;
    }

    .services-box-content ul li {
        font-size: 2rem;
        padding: 4rem 3rem;
    }

    .services-heading {
        font-size: 2.5rem;
        margin-top: 3rem;
    }
}

@media screen and (max-width: 750px) {
    .services-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .services-box-content ul li {
        font-size: 1.8rem;
        padding: 3rem;
    }

    .services-heading {
        font-size: 2rem;
        margin-top: 3rem;
    }

}

@media screen and (max-width: 450px) {
    .services-container {
        margin: 1rem 0.3rem 10rem 0;
    }

    .services-box-content ul li {
        font-size: 2rem;
        padding: 2rem 10rem;
    }

    .services-heading {
        font-size: 2.2rem;
        margin-top: 3rem;
    }

    #services {
        margin: 5rem 0 20rem 0;
    }
}
